<!DOCTYPE html>
<html >
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    </head>
<body>
 <div class="login">
	  <h4>Predict the Wind energy! </h4>


     <!-- Main Input For Receiving Query to our ML -->
    <form action= "/y_predict" method="post">
    <div id="line1">
                    Give your city name to know the weather conditions
                </div>
		<select name="City" required="required">
		  <option value="">Select City </option>
		  <option value= Mumbai>Mumbai</option>
		  <option value= Delhi>Delhi</option>
		  <option value= Srinagar>Srinagar</option>
		</select>
		
        

    <div>
        <input type="text" name="Day" placeholder="Day" required="required" />
        <input type="text" name="Month" placeholder="Month" required="required" />
        <input type="text" name="Hour" placeholder="Hour" required="required" />
        <input type="text" name="Theoretical_Power_Curve" placeholder="Theoretical_Power_Curve" required="required" />
        <p>
        <button type="submit" class="btn btn-warning btn-block btn-large">Predict</button>
        </p>
    </div>
    <p>
    <h4>{{ prediction_text }}</h4>
    </p>
   <br>
   <br>

 </div>


</body>
</html>

