<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Wind Turbine Energy Prediction Based on Weather Conditions</h1>
        <div id="content">
            <div id="city">
                <div id="line1">
                    Give your city name to know the weather conditions
                </div>
                <div>
                    <select name="city" id>
                        <option value="City">City</option>
                        <option value="Kolkata">Kolkata</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Delhi">Delhi</option>
                    </select>
                    <div>
                        <button>CHECK THE WEATHER CONDITIONS</button>
                    </div>
                    <div>
                        The Weather conditions of the city are
                    </div>
                    <div id="conditions">
                        <div>
                            <p>Temperature</p>
                            <p>Humidity</p>
                            <p>Pressure</p>
                            <p>Wind Speed</p>
                        </div>
                        <div id="parameters">
                            <p>1</p>
                            <p>1</p>
                            <p>1</p>
                            <p>1</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="prediction">
                <h4>Predict the Wind Energy!!</h4>
                <p>
                    <input type="text"><br>
                    <input type="text"><br>
                    <button>PREDICT</button>
                </p>
            </div>
        </div>
    </body>
</html>